# Kaggle API key (CRITICAL: Do not push this!)
kaggle.json

# Datasets
data/
Data/
*.csv
*.zip

# Virtual Environments
.venv/

# Python caches
__pycache__/
*.pyc

# LaTeX build files
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
